<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3" >
                <div class="panel border bg-white" >
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Sign Up</h3>
                    </div>
                    <div class="panel-body p-3" >
                        <form novalidate [formGroup]= "addUseForm">
                            <div class="form-group pt-3">
                                <div class="input-field" [ngClass]="{ 'is-invalid':userId.errors && (userId.touched || userId.dirty),'is-valid' :userId.valid}"
                                [class.error]= "addUseForm.controls['userId'].dirty && addUseForm.hasError('required','userId')">
                                    <span class="fa fa-user p-2"></span>
                                    <input type="text" name="userId" class="form-control" 
                                        formControlName="userId" placeholder="UserName">         
                                </div>
                                <div class="invalid-feedback">
                                    <strong *ngIf = "userId.errors?.['required']">*userId is required </strong>
                                </div>
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field" [ngClass]="{ 'is-invalid':userEmail.errors && (userEmail.touched || userEmail.dirty),'is-valid' :userEmail.valid}"
                                [class.error]= "addUseForm.controls['userEmail'].dirty && addUseForm.hasError('required','userEmail')">
                                    <span class="fa fa-envelope p-2"></span>
                                    <input type="email" name="userEmail" class="form-control" 
                                        formControlName="userEmail" placeholder="UserEmail">         
                                </div>
                                <div class="invalid-feedback">
                                    <strong *ngIf = "userEmail.errors?.['required']">*userEmail is required </strong>
                                </div>
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field" [ngClass]="{ 'is-invalid':userLocation.errors && (userLocation.touched || userLocation.dirty),'is-valid' :userLocation.valid}"
                                [class.error]= "addUseForm.controls['userLocation'].dirty && addUseForm.hasError('required','userLocation')">
                                    <span class="fa fa-map-marker p-2"></span>
                                    <input type="text" name="userLocation" class="form-control" 
                                        formControlName="userLocation" placeholder="UserLocation">         
                                </div>
                                <div class="invalid-feedback">
                                    <strong *ngIf = "userLocation.errors?.['required']">*userLocation is required </strong>
                                </div>
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field" [ngClass]="{'is-invalid':userPassword.errors && (userPassword.touched || userPassword.dirty),'is-valid' :userPassword.valid}"
                                [class.error]= "addUseForm.controls['userPassword'].dirty && addUseForm.hasError('required','userPassword')">
                                    <span class="fa fa-lock p-2"></span>
                                    <input [type]="type" placeholder="UserPassword" class="form-control" 
                                    formControlName="userPassword">
                                    <span (click)="hideShowPass()" class="fa fa-eye-slash"></span> 
                                </div>
                                <div class="invalid-feedback">
                                    <strong *ngIf = "userPassword.errors?.['required']">*password is required </strong>
                                </div> 
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field" [ngClass]="{'is-invalid':reEnterPassword.errors && (reEnterPassword.touched || reEnterPassword.dirty),'is-valid' :reEnterPassword.valid}"
                                [class.error]= "addUseForm.controls['reEnterPassword'].dirty && addUseForm.hasError('required','reEnterPassword')">
                                    <span class="fa fa-lock p-2"></span>
                                    <input [type]="type" placeholder="Re-Enter Password"class="form-control" 
                                    formControlName="reEnterPassword">
                                    <span (click)="hideShowPass()" class="fa fa-eye-slash"></span> 
                                </div>
                                <div class="invalid-feedback">
                                    <strong *ngIf = "reEnterPassword.errors?.['required']">*Re enter password is required </strong>
                                </div> 
                            </div>
                            <button type='submit' [disabled] = "addUseForm.invalid" 
                            (click)= "addUser()" class="btn btn-primary btn-block mt-4 w-100">Sign Up</button>
                         
                            <!-- <button type="submit" class="btn btn-primary btn-block mt-4 w-100">Sign Up</button> -->
                            <div class="text-center pt-4 text-muted">Already have an account? <a id="forget" routerLink="/login">Login</a></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
